$link-color: red;
$link-color-hover: blue;

$forest: #4B7270;
$plum: #63475d;
$cream: #fffddc;
$coral: #ffe6d9;

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * barber-fill:
 *   - http://typekit.com/eulas/00000000000000007735f02a
 * barber-outline:
 *   - http://typekit.com/eulas/00000000000000007735f02b
 * barber-right:
 *   - http://typekit.com/eulas/00000000000000007735f02c
 * barber-shadow:
 *   - http://typekit.com/eulas/00000000000000007735f02d
 * cofo-sans-mono-variable:
 *   - http://typekit.com/eulas/00000000000000007753652d
 * gesta:
 *   - http://typekit.com/eulas/000000000000000077584e63
 *   - http://typekit.com/eulas/000000000000000077584e69
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-12-04 23:00:29 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=dju5vil&ht=tk&f=1699.1703.48139.48140.48141.48142.55481&a=13721005&app=typekit&e=css");

@font-face {
font-family:"gesta";
src:url("https://use.typekit.net/af/954d59/000000000000000077584e63/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/954d59/000000000000000077584e63/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/954d59/000000000000000077584e63/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;font-display: swap;
}

@font-face {
font-family:"gesta";
src:url("https://use.typekit.net/af/d1fd39/000000000000000077584e69/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/d1fd39/000000000000000077584e69/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/d1fd39/000000000000000077584e69/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;font-display: swap;
}

@font-face {
font-family:"barber-fill";
src:url("https://use.typekit.net/af/637952/00000000000000007735f02a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/637952/00000000000000007735f02a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/637952/00000000000000007735f02a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;font-display: swap;
}

@font-face {
font-family:"barber-outline";
src:url("https://use.typekit.net/af/3c43ea/00000000000000007735f02b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/3c43ea/00000000000000007735f02b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/3c43ea/00000000000000007735f02b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;font-display: swap;
}

@font-face {
font-family:"barber-right";
src:url("https://use.typekit.net/af/6cb2da/00000000000000007735f02c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/6cb2da/00000000000000007735f02c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/6cb2da/00000000000000007735f02c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;font-display: swap;
}

@font-face {
font-family:"barber-shadow";
src:url("https://use.typekit.net/af/7658f3/00000000000000007735f02d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/7658f3/00000000000000007735f02d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/7658f3/00000000000000007735f02d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;font-display: swap;
}

@font-face {
font-family:"cofo-sans-mono-variable";
src:url("https://use.typekit.net/af/dc3a4b/00000000000000007753652d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/dc3a4b/00000000000000007753652d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/dc3a4b/00000000000000007753652d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;font-display: swap;
}

.tk-gesta { font-family: "gesta",sans-serif; }
.tk-barber-fill { font-family: "barber-fill",sans-serif; }
.tk-barber-outline { font-family: "barber-outline",sans-serif; }
.tk-barber-right { font-family: "barber-right",sans-serif; }
.tk-barber-shadow { font-family: "barber-shadow",sans-serif; }
.tk-cofo-sans-mono-variable { font-family: "cofo-sans-mono-variable",sans-serif; }

$barber-font-fill: "barber-fill", sans-serif;
$barber-font-outline: "barber-outline", sans-serif;
$body-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$gesta-font: "gesta", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$mono-font: "cofo-sans-mono-variable", sans-serif;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $body-font;
  font-variation-settings: "wght" 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $gesta-font;
  font-weight: 700;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Container Styling */
.col-container {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  background-color: #fff;
}

/* Column Styling */
.column {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

/* Box Styling */
.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  min-width: calc(33.33333% - 3rem);
  min-height: calc(50% - 3rem);
  flex: 1;
  background-color: #eee;
  border-radius: 30px;
  padding: 2rem 1.5rem;
  color: $plum;
  h2 {
    font-family: $barber-font-fill;
    line-height: 1;
    font-size: clamp(25px, 5vw, 28px);
    margin: 0 0 1rem;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 13px;
    margin-bottom: 0.5rem;
    font-family: $mono-font;
    font-variation-settings: "wght" 600;
  }
}

.c1 .b1 {
  background-color: $forest;
  color: $cream;
  align-items: center;
  h1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
  }
  p {
    max-width: 80%;
    text-align: center;
    margin-top: 20px;
  }
  .think {
    font-family: $barber-font-outline;
    line-height: 1;
    font-size: clamp(45px, 5vw, 90px);
  }
  .noack {
    font-family: $barber-font-fill;
    line-height: 1;
    font-size: clamp(45px, 5vw, 90px);
  }
  img {
    margin: auto 0 -2rem;
    width: 440px;
    max-width: 90%;
  }
}

.c2 .b1 {
  background-color: transparent;
  color: $plum;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    li {
      margin-bottom: 2vh;
      &:last-of-type {
        margin: 0;
      }
    }
  }
}

.c3 .b1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: $plum;
  color: $cream;

  > div {
    margin-bottom: 2vh;
    &:last-of-type {
      margin: 0;
    }
  }
  h3 {
    margin-bottom: .1rem;
  }
  ul {
    padding-left: 15px;
    margin: 0;
    list-style: disc;

    li {
      font-size: 13px;
    }
  }
}

/* Media Queries */

@media (max-width: 1469px), (max-height: 774px) {
  #__next {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  .col-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    .column {
      min-height: auto;
    }
  }
  .c1,
  .c2,
  .c3 {
    width: 100%;
  }

  .c3 {
    .b1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      > h2 {
        width: 100%;
      }
      > div {
        margin-bottom: 2vh;
        width: 30%;
      }
    }
  }
  .c1 .b1 img {
    margin-top: 2rem;
    max-width: 280px;
  }
  
}
@media (max-width: 980px) {
  .c3 {
    .b1 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      > h2 {
        width: 100%;
      }
      > div {
        margin-bottom: 2vh;
        width: 100%;
        margin: 0 0 .8rem;
      }
    }
  }
}

@media (min-width: 1470px) and (min-height: 775px) {
  #__next {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  .col-container {
    width: 1470px;
    height: auto;
    margin: 0 auto;
    .column {
      min-height: auto;
    }
  }
  .box h2 {
    font-size: 16px;
  }
  .c1 {
    width: 440px;
  }
  .c2 {
    width: auto;
    flex: 1;
    h3 {
      font-size: 19px;
    }
    h4 {
      margin: 0;
    }
    .b1 ul li p {
      font-size: 16px;
    }
  }
  .c3 {
    width: 100%;
    .b1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      > h2 {
        width: 100%;
      }
      > div {
        margin-bottom: 2vh;
        width: 30%;
      }
    }
  }
  .c1 .b1 img {
    max-width: 300px;
  }

}
@media (max-width: 1744px){
  .c1 .b1 img {
    max-width: 213px;
  }
}

@media (min-width: 1745px) and (min-height: 900px) {
  #__next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .col-container {
    width: 1745px;
    height: 900px;
    margin: 0 auto;
    padding: 0;
    .column {
      min-height: calc(900px - 3rem);
    }
    .c1 {
      width: 480px;
    }
    .c2 {
      width: 625px;
    }
    .c3 {
      width: 400px;

      .b1 {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
        > h2 {
          width: 100%;
        }
        > div {
          margin-bottom: 2vh;
          width: 100%;
          margin: 0 0 1.5rem;
        }
      }
    }

  }
}

@media (max-height: 899px) {
  .c1 .b1 img {
    max-width: 213px;
  }
}

@media (max-height: 600px) {
  .c1 .b1 img {
    display: none;
  }
}

@media (max-width: 500px) {
  .c1 .b1 img {
    width: 170px;
  }
}

@media (max-width: 747px) {
  .col-container {
    padding: 0.5rem;
  }
}
